.button-subscription {
  display: flex;
  align-items: center;
  padding: 10px 22px;
  border: 0;
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.gallery-nav__button {
  text-align: center;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
