.logo {
  display: inline-block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--header {
  margin-right: 93px;
  color: var(--title-text-color);
}

.logo--footer {
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.logo-colortext {
  color: var(--accent-text-color);
}
