html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  font-family: var(--title-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

textarea {
  resize: none;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.item {
  display: flex;
  flex-wrap: wrap;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
