.auth-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.auth-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
