.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-box {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    margin-bottom: 60px;
  }
}
// .footer-box1 {
// }

.footer-title {
  font-family: var(--title-font);
  font-weight: 700;
  line-height: 1.17;
  color: var(--white-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.footer-address {
  font-style: inherit;
  color: var(--white-text-color);
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link {
  color: var(--white-text-color);
  transition: color var(--animation);
}

.connect {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer-icons {
  display: inline-flex;
}

.footer-icons__item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation);

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
  }
}

.footer-icons__link:hover .social-icons__svg,
.footer-icons__link:focus .social-icons__svg {
  fill: var(--white-text-color);
}

.footer-icons__link:hover {
  background-color: var(--accent-text-color);
}

.footer-icons__link:focus {
  background-color: var(--accent-text-color);
}

.footer-icons__svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-subscription {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-subscription input {
  padding: 15px, 16px;
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-field input {
  padding: 11px 12px;
  width: 100%;

  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--dark-bg-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
    margin-bottom: 20px;
  }
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.footer-icon-send {
  width: 24px;
  height: 24px;
  fill: var(--white-bg-color);

  margin-left: 10px;
}
.button-subscription {
  display: flex;
  align-items: center;

  padding: 10px 22px;
  border: 0;
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
}
