.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 70px;
}

.footer-address {
  font-style: inherit;
  color: var(--white-text-color);
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link {
  color: var(--white-text-color);
  transition: color var(--animation);
}

.connect {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer-icons {
  display: inline-flex;
}

.footer-icons__item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation);
}

.footer-icons__link:hover .social-icons__svg,
.footer-icons__link:focus .social-icons__svg {
  fill: var(--white-text-color);
}

.footer-icons__link:hover {
  background-color: var(--accent-text-color);
}

.footer-icons__link:focus {
  background-color: var(--accent-text-color);
}

.footer-icons__svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-subscription {
  display: flex;
}

.footer-subscription input {
  padding: 15px, 16px;
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-field {
  margin-right: 12px;
}

.footer-form-field input {
  padding: 11px 12px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--dark-bg-color);
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer-icon-send {
  width: 24px;
  height: 24px;
  fill: var(--white-bg-color);

  margin-left: 10px;
}
