.our-directions {
  padding-bottom: 94px;
}

.our-directions__item:not(:last-child) {
  margin-right: 30px;
}

.our-directions__item {
  position: relative;
}

.our-directions__list {
  display: flex;
}

.our-directions__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
